<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Australia</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  </head>
  <body>
    <h1>G'day mate</h1>
      <img src="https://www.clearinghouseforsport.gov.au/__data/assets/image/0005/612887/australia_flag_perspective_anim_4838.gif" alt="flag">
      <div class="options">
          <a href="/">Home</a>
      </div>
      <ul>
        <li>Population: 25,102,900</li>
        <li>Capital: Canberra</li>
        <li>Currency: Australian Dollar</li>
      </ul>
  </body>
</html>
