<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>China</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  </head>
  <body>
    <h1>Did somebody order a chinese?</h1>
    <img src="https://media1.tenor.com/images/5a22184deef81fb772283cf09ef51182/tenor.gif?itemid=5635033" alt="dragon">
    <div class="options">
      <a href="/">Home</a>
    </div>
    <ul>
      <li>Population: 1,403,500,365</li>
      <li>Capital: Beijing</li>
      <li>Currency: Renminbi</li>
    </ul>
  </body>
</html>
