<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  </head>
  <body>
    <h1>Why hello there.</h1>
    <img src="https://s3-eu-west-1.amazonaws.com/reytgoodmagazine/wp-content/uploads/2018/06/26174002/549494CA-1EFF-4490-8381-85F49EC9555F.gif" alt="engflag">
    <div class="options">
      <a href="/">Home</a>
    </div>
    <ul>
      <li>Population: 55,619,400</li>
      <li>Capital: London</li>
      <li>Currency: Pound Sterling</li>
    </ul>
  </body>
</html>
