<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Hi man you wanna hear about some countries?</h1>
    <div class="countries">
      <div class="options">
        <a href="/england">England</a>
        <a href="/australia">Australia</a>
        <a href="/germany">Germany</a>
        <a href="/china">China</a>
        <a href="/mexico">Mexico</a>
      </div>
    </div>
    <img src="https://geology.com/world/world-physical-map.jpg" alt="worldmap">
  </body>
</html>
