<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mexico</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  </head>
  <body>
    <h1>Hey man you want some tacos?</h1>
    <img src="https://gifimage.net/wp-content/uploads/2017/10/mexican-food-gif-6.gif" alt="deadpool">
    <a href="/">Home</a>
    <ul>
      <li>Population: 123,675,325</li>
      <li>Capital: Mexicop City</li>
      <li>Currency: Peso</li>
    </ul>
  </body>
</html>
